* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* ------------------Timer-styles---------------------- */

.timer_input {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #03a1fc;
  font-size: 20px;
  padding: 10;
  margin: 0;
  border: 2px solid #03a1fc;
  border-radius: 8px;
  width: 200px;
  height: 40px;
}

.timer_btn {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding: 0;
  margin: 0;
  border: 2px solid #de3750;
  border-radius: 8px;

  background-color: #de3750;
  color: white;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 150px;
  border: 2px solid #de3750;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.value {
  font-size: 80px;
  color: #de3750;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #03a1fc;
}
